/* HTML */
html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial Black, Helvetica, sans-serif;
}

/* BODY */
body {
    width: 100vw;
    height: 100vh;
}

/* HEADER */
header {
    background-color: #F8F1D6;
    height: 15vh;
    width: 100vw;
    box-shadow: #401B1D 0px 20px 30px -10px;
}

header>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #divImg {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #divUl {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

header li {
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 25%;
    height: 75%;
    border-right: 1px solid #401B1D;
}

header li:nth-child(4) {
    border-right: none;
}

header a {
    text-decoration: none;
    color: #401B1D;
    padding: 7px;
}

header a:hover{
    border: 2px solid #401B1D;
    border-radius: 10px;
}

header img {
    height: 70%;
}

/* MAIN */
main {
    background-color: #F8F1D6;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section:nth-child(1) {
    background-color: aqua;
    width: 100%;
    height: 70%;
}

#bcgImg {
    width: 100%;
    clip-path: inset(20% 0);
    opacity: 70%;
}

/* FOOTER */
footer {
    background-color: red;
    width: 100%;
    height: 10vh;
}